@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.fredoka {
  font-family: "Fredoka", sans-serif;
}

.show-output {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: block;
}
